<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Day Plan</title>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" type='text/css'>

    <link href="/dist/all.css" rel="stylesheet"/>

    <script src="/dist/thirdparty.js"></script>
    <script src="/dist/all.js"></script>
</head>
<body ng-app="dayPlan">
    <person-list ng-controller="peopleController">
        <person ng-click="selectPerson(person)" ng-class="{'selected':$root.selectedPerson == person}" ng-repeat="person in people" ng-model="person"></person>
        <div ng-click="registerUser()" class="person"><i class="fa fa-plus-circle"></i></div>
    </person-list><person-day ng-controller="activitiesController">
        <day>
            <day-picker>
                <i class="fa fa-arrow-circle-left" ng-click="goBackInTime()"></i>
                <day-name ng-click="selectNow()">{{selectedDayIsNotToday() ? ($root.selectedDate | date:"EEEE") : 'Today'}}</day-name>
                <i class="fa fa-arrow-circle-right" ng-click="goForwardInTime()"></i>
            </day-picker>
            <messages ng-controller="messagesController">
                <message ng-repeat="message in messages | filter:forSelectedUser()" ng-model="message"></message>
            </messages>
            <div ui-sortable ng-model="dayActivities">
                <day-activity ng-repeat="activity in dayActivities"
                              activity="activity"
                              ng-class="{'need-to': activity.category == 1, 'get-to': activity.category == 0, 'completed': activity.completed}"></day-activity>
            </div>
        </day>
        <day-info>
            <stats>
                Here be stats
            </stats>
            <activities>
                <activity-selector></activity-selector>
            </activities>
        </day-info>
    </person-day>
</body>
</html>