@import '../../../../styles/colors';

person-list {
  display: inline-block;
  overflow:auto;
  vertical-align: top;
  position: relative;
  z-index: 2;

  person, .person {
    padding: 5px 5px 0px 5px;
    border: solid 1px #ccc;
    height: 53px;
    display: block;
    border-radius: 2.5em 0 0 2.5em;
    background: #ccc;
    color: white;

    i{
      font-size: 2.8em;
      margin-top: 2px;
      margin-left: 4px;
    }

    img {
      border-radius: 3em;
      width: 3em;
      height: 3em;
      -webkit-filter: grayscale(1);
      -webkit-filter: grayscale(100%);
      filter: gray;
      filter: grayscale(100%);
      filter: brightness(150%);
    }

    &.selected{
      border-right: 0;
      background: @secondary-back;
      img{
        -webkit-filter: grayscale(0);
        -webkit-filter: grayscale(0);
        filter: none;
        filter: grayscale(0);
      }
    }
  }
}