@import '../../styles/colors';

person-day{
  display: inline-block;
  vertical-align: top;
  border: solid 1px #ccc;
  margin-left: -1px;
  background: @secondary-back;
  position: relative;
  z-index: 1;
  width: calc(~'100vw - 80px');

  day{
    padding: 10px;
    vertical-align: top;
    display: inline-block;
    overflow: auto;
    width: calc(~'100vw / 2 - 50px');
    height: calc(~'100vh - 40px');

    day-picker{
      display: block;
      text-align: center;
      overflow: auto;
      padding: 5px;
      border: solid 1px #ccc;
      background: #eee;
      border-radius: 200px;
      margin-bottom: 10px;
      font-size: 1.3em;

      i{
        font-size: 1.38em !important;
        margin: 0 3px;
        color: #ccc;

        &:first-child{
          float: left;
        }

        &:last-child{
          float: right;
        }
      }
    }
  }

  day-info {
    display: inline-block;
    overflow: auto;
    width: calc(~'100vw / 2 - 60px');

    activities {
      display: block;
      overflow: auto;
      vertical-align: top;
    }

    stats {
      display: block;
      overflow: auto;
      background: white;
      vertical-align: top;
      padding: 10px;
      border: solid 1px #ccc;
      border-radius: 5px;
      margin: 10px 0;
    }
  }
}