<div>
    <categories>
        <category ng-click="ui.category = 1;" ng-class="{'active': ui.category == 1}">Need To</category><category ng-click="ui.category = 0;"  ng-class="{'active': ui.category == 0}">Get To</category>
    </categories>
    <content>
        <toolbar ng-if="!ui.addingTask">
            <tool>
                <i class="fa fa-plus-circle" ng-click="addTask()"></i>
            </tool>
            <tool ng-class="{'toggled': ui.showAutoDay}">
                <i class="fa fa-calendar-check-o" ng-click="toggleAutoDay()"></i>
            </tool>
            <tool ng-if="false" class="right" ng-repeat="person in people">
                <img ng-src="{{person.imgPath}}" />
            </tool>
        </toolbar>
        <potential-activities ng-if="!ui.addingTask">
            <activity on-edit="edit(activity)"
                      on-add="addActivity(activity, copy)"
                      ng-repeat="activity in activities | filter:onlyForSelectedUser()"
                      ng-class="{'need-to': activity.category == 1, 'get-to': activity.category == 0}"
                      ng-model="activity"></activity>
        </potential-activities>
        <add-task ng-if="ui.addingTask">
            <input type="text" ng-model="task.name" ng-model-options="{updateOn: 'blur'}">
            Hours: {{task.hours}} <input type="range" ng-model="task.hours" min="0" max="8" step="1">
            Minutes: {{task.minutes}} <input type="range" ng-model="task.minutes" min="0" max="45" step="15">
            <person-selector ng-model="task.participants"></person-selector>
            <category>
                <div ng-click="task.category = 1" ng-class="{'selected': task.category == 1}">
                    Need To
                </div>
                <div ng-click="task.category = 0" ng-class="{'selected': task.category == 0}">
                    Get To
                </div>
            </category>
            Auto Add On
            <day-selector>
                <day-button ng-class="{'selected': day.$selected}" ng-repeat="day in days" ng-click="toggleDay(day)">{{day.name}}</day-button>
            </day-selector>
            <button ng-click="saveTask(task)" class="primary">Save</button>
            <button ng-click="cancel()" class="warn">Cancel</button>
        </add-task>
    </content>
</div>